body {
  font-family: Poppins, sans-serif;
  font-size: 8px;
  font-weight: 400;
}

textarea {
  resize: none;
}

.resume-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 555px;

  /** mobile */
  @media screen and (max-width: 555px) {
    width: 96%;
  }
}

.resume-head {
  display: grid;
  grid-template-columns: 124px 1fr 2fr;
  grid-auto-flow: row; 
  gap: 20px;

  @media screen and (max-width: 555px) {
    grid-template-columns: 1fr 1fr;
  }
}

.resume-block {
  position: relative;
  overflow: hidden;
  background-color: #F0F0F0;
  border-radius: 12px;
  padding: 12px;
}

.resume-block_image {
  overflow: hidden;
  padding: 0;
}

.resume-photo {
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.resume-block__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.name-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-info__fio {
  font-weight: 600;
  font-size: 14px;
  line-height: 14.56px;
}

.your-info__role {
  font-weight: 500;
  font-size: 12px;
  color: #5C5C5C;
  margin-top: 6px;
}

.language-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 555px) {
    grid-column: span 2;
  }
}

.progress-bar {
  background-color: #28D979;
  width: 100%;
  height: 11px;
  border-radius: 3px;
}

.non-full {
  width: 75%;
}

.language-item {
  width: 100%;
  height: 20px;
}

.language-name {
  font-size: 10px;
  padding-right: 17px;
  width: 58px;
  white-space: nowrap;
  height: 10px;
}

.language-list {
  width: 100%;
  border-spacing: 0;
}

.expirience-box {
  width: 100%;
  margin-right: 20px;
  box-sizing: border-box;

}

.experience-item {
  border-radius: 10px;
  padding: 8px;
  background-color: #FFFFFF;
}

.experience-item + .experience-item {
  margin-top: 10px;
}

.most-recent-tag {
  background-color: #7E731266;
  color: #DDF163;
  text-align: center;
  border-radius: 59px;
  align-content: center;
  white-space: nowrap;
  padding: 3px 6px;
  height: fit-content;
}

.most-recent-unit {
  display: flex;
  justify-content: space-between;
  border-radius: 59px;
}

.experience-and-tools {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (max-width: 555px) {
    flex-direction: column;
  }
}

.tools-box {
  width: 124px;

  @media screen and (max-width: 555px) {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
  }
}

.job-info {
  display: flex;
  margin-top: 8px;
}

.job-info__main {
  width: 140px;
  flex-shrink: 0;
  padding-right: 8px;
}

.feature-points {
  padding-left: 16px;
  line-height: 12px;
  margin: 0;
  overflow: hidden;
}

.experience-date {
  line-height: 12px;
  font-weight: 500;
}

.experience-role {
  font-size: 10px;
  line-height: 15px;
  font-weight: 500;
  margin: 0;
}

.about-job {
  line-height: 12px;
  color: #3F3D3D;
}

.resume-item_active .about-job {
  color: #EBF9F2;
}

.tools-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tools-list__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.tools-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-tools {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 16px 4px 16px 4px;
}

.resume-tools-tag {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 59px;
  font-size: 5px;
  line-height: 7px;
  font-weight: 500;
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.resume-tools + .resume-tools {
  margin-top: 12px;

  @media screen and (max-width: 555px) {
    margin-top: 0;
  }
}

.resume-foot {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 555px) {
    grid-template-columns: 1fr;
  }
}

.education-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education-kind {
  background-color: #FFFFFF;
  padding: 8px;
  border-radius: 10px;
}

.education-kind + .education-kind {
  margin-top: 12px;
}

.resume-item_active {
  background-color: #28D979;
  color: #FFFFFF;
}

.education-content {
  margin-top: 8px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.edu-tags {
  margin: 0;
  line-height: 12px;
  color: #149063;
  word-break: break-word;
}

.edu-box {
  margin-right: 20px;
  width: 268px;
  box-sizing: border-box;

  @media screen and (max-width: 555px) {
    width: 100%
  }
}

.edu-source {
  margin: 8px 0 0 0;
}

.resume-item_active .edu-tags {
  color: #EBF9F2;
}

.first-edu-block {
  margin-right: 12px;
}

.resume-extrabox {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  @media screen and (max-width: 555px) {
    margin-top: 20px;
  }
}

.resume-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  padding: 12px;
  border-radius: 12px;
  color: #FFFFFF;
}

.interests-kind {
  background-color: #FFFFFF;
  padding: 4px 10px 4px 10px;
  border-radius: 40px;
  white-space: nowrap;
  width: fit-content;
  margin-right: 8px;
  margin-top: 8px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.interests-kind + .interests-kind {
  margin-top: 8px;
}

.interests-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
}

.contact-title {
  margin-bottom: 11px;
}

dialog {
  height: 120px;
  width: 400px;
  padding: 0;
  background: transparent;
  border: 0;
  margin:auto;
  border-radius: 10px;

  @media screen and (max-width: 555px) {
    width: 96%;
    max-width: 96%;
    border-radius: 0;
    bottom: 0;
    margin-bottom: 0;
  }
}

dialog:not([open]) {
  
  @media screen and (max-width: 555px) {
    animation: toBottom .1s linear forwards;
  }
}

dialog[open] {
  
  @media screen and (max-width: 555px) {
    height: 50%;
    width: 96%;
    max-width: 96%;
    max-height: 100%;
    border-radius: 0;
    margin: auto;
    animation: toTop .15s linear forwards;
  }
}

@keyframes toBottom {
  from {
    transform:translateY(0%);
  }

  to {
    transform:translateY(100%);
  }
}

@keyframes toTop {
  from {
    transform:translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes hide {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

::backdrop {
  animation: hide .2s linear forwards;
}

#close {
  position: fixed;
  top: 20px;
  right: 24px;
  border: none;
  background-color: transparent;
}

.pin:before, .pin:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 6px;
  background: rgb(180, 179, 179);
}

.pin:before {
  transform: rotate(45deg);
  padding: .5px;
  border-radius: 8px;
}

.pin:after {
  transform: rotate(-45deg);
  padding: .5px;
  border-radius: 8px;
}

#save {
  background-color: #28D979;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 10px;
}

.redactor {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
}

.redactor__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: fit-content;
  margin: 4px;
}

.redactor__content {
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#editor {
  padding: 8px;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 0;
  outline: none;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box; 

  @media screen and (max-width: 555px) {
    padding-top: 40px;
  }
}
  .animation,
  .animation::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.animation {
  --animation-delay: var(--delay, 200ms);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  animation-name: clip-text;
}
  
.animation::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-revealer;
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  60%, 100% {
    transform-origin: 100% 50%;   
  }

  60% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}

.toPDF {
  /* position: fixed; */
  margin-top: 20px;
  background-color: black;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 10px;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.resume-tools-groups {

  @media screen and (max-width: 555px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }
}

.overflow-none {
  overflow: hidden;
}